.App {
  text-align: center;
}
.btn{
  padding: 2% 4%;
  outline: none;
  border-radius: 20px;
  color: aliceblue;
  margin: 2%;
  cursor: pointer;
  border: none;
  background-color: crimson;
}
.digits{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sel{
  border: 2px solid yellow;
}





/* CSS */
.startbtn{
  background-image: linear-gradient(#42A1EC, #0070C9);
  border: 1px solid #0077CC;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 17px;
  font-weight: 400;
  overflow: visible;
  padding: 4px 25px;
  text-align: center;
}

.button-main-div {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.all-buttons{
  width:100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    margin: 20px;
}
.all-buttons h2 {
  color: #0070C9;
  font-family: Georgia, serif;
}
.startbtn:hover {
  background-image: linear-gradient(#51A9EE, #147BCD);
  border-color: #1482D0;
  text-decoration: none;
}

.startbtn:active {
  background-image: linear-gradient(#3D94D9, #0067B9);
  border-color: #006DBC;
  outline: none;
}

.startbtn:focus {
  box-shadow: none;
  outline: none;
}
h4.btn.startbtn.sel {
  background: linear-gradient(#a3caea, #55a9ec);
  border: 1px solid #90b3c1bf;
}
.stopbtn {
  background: linear-gradient(#a3caea, #55a9ec);
  border: 1px solid #90b3c1bf;
}
.directory-text #changebtn {
  width: 150px;
  margin: 0 auto;
}
