.App {
  text-align: center;
}
.btn{
  padding: 2% 4%;
  outline: none;
  border-radius: 20px;
  color: aliceblue;
  margin: 2%;
  cursor: pointer;
  border: none;
  background-color: crimson;
}
.digits{
  display: flex;
  flex-direction: row;
}
.sel{
  border: 2px solid white;
}