.App {
  text-align: center;
}
.btn{
  padding: 2% 4%;
  outline: none;
  border-radius: 20px;
  color: aliceblue;
  margin: 2%;
  cursor: pointer;
  border: none;
  background-color: crimson;
}
.digits{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sel{
  border: 2px solid yellow;
}
#path{
  position: absolute;
  bottom: 0;
  left: 0;
}
#changebtn{
  position: absolute;
  bottom: 0;
  right: 0;
}